* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}


header {
    background-color: gray;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    gap: 20px;
    border-bottom: 3px solid black;
}

#titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#titulo p {
    color: white;
    font-size: 25px;
}

#titulo i {
    color: white;
    font-size: 40px;
}

#navegacao nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#navegacao nav a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    border-right: 4px solid transparent;
    transition: all 0.5s ease;
    gap: 10px;
}

#navegacao nav a:hover {
    border-bottom: 2px solid white;
}

.n-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    gap: 3px;
}

#redesSocias nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#redesSocias nav a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    border-right: 4px solid transparent;
    transition: all 0.5s ease;
}

#redesSocias nav a:hover {
    border-bottom: 2px solid white;
}

.rs-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2px;
}

#contatos nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#contatos nav a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    border-right: 4px solid transparent;
    transition: all 0.5s ease;
}

#contatos nav a:hover {
    border-bottom: 2px solid white;
}

.c-link {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

#login button {
    width: 80px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: black;
    color: white;
    transition: all 0.5s ease;
    font-weight: 600;
    cursor: pointer;
}

#login button:hover {
    border: 2px solid yellow;
}

#apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
}

#apresentacao h1 {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 85px;
    margin-bottom: 50px;
}

#conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#texto {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#texto p {
    padding: 10px;
    font-size: 20px;
}

#imagem {
    transition: all 0.5s ease;
    height: 100%;
}

#cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #A9A9A9;
    height: 600px;
    border-bottom: 3px solid black;
}

#cards h2 {
    font-size: 40px;
    padding: 30px;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

#cards h2 {
    text-shadow:5px 5px 5px #706F70;
 }

#grupo-cards {
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 15%;
    height: 450px;
    padding: 40px 30px 40px 30px;
    border: 3px solid black;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #706F70;
    background-color: white;
    transition: all 0.5s ease;
}

.card:hover {
    transform: translateY(-20px);
}

.card img {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

.card h3 {
    text-align: center;
    text-shadow: 5px 5px 5px #706F70;
    padding: 8px;
}

.card p {
    margin: 10px;
    height: 100px;
}

.card-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

.card-button button {
    height: 40px;
    width: 50%;
    background-color: black;
    color: white;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.card-button button:hover {
    background-color: white;
    color: black;
}

#s1 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    background-color: #20a0eb;
    border-bottom: 3px solid;
    height:800px;
}

#s2 {
    display: flex;
    flex-direction: row;
    background-color: #008B8B;
    border-bottom: 3px solid;
    height:800px;
}

#s3 {
    display: flex;
    flex-direction: row;
    background-color: #F0E68C;
    border-bottom: 3px solid;
    height:800px;
}

#s4 {
    display: flex;
    flex-direction: row;
    background-color: orange;
    border-bottom: 3px solid;
    height:800px;
}

#s5 {
    display: flex;
    flex-direction: row;
    background-color: #D8BFD8;
    border-bottom: 3px solid;
    height:800px;
}

#s6 {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    border-bottom: 3px solid;
    height:800px;
}

.s-texto{
    padding: 30px 30px 0px 30px;
}

.s-butao {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.s-butao button {
    height: 80px;
    width: 500px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    transition: all 0.5s ease;
}

.s-butao button:hover {
    background-color: white;
    color: black;
    border: 5px solid black;
}

.modalidades h2 {
    font-family: "Fredoka", sans-serif;
    text-align: center;
    font-size:30px;
    padding: 10px;
    border-bottom: 2px solid black;
    
}

.modalidades h3 {
    font-family: "Fredoka", sans-serif;
    font-size:20px;
    padding: 10px;
    margin-left: 30px;
}

.modalidades p {
    font-family: "Fredoka", sans-serif;
    font-size:17px;
    padding: 10px;
    word-spacing: 5px
}

.modalidades img {
    width:auto;
    height: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    height: 190px;
    color: white;
    padding: 10px 40px 10px 40px;
}

#f-desenvolvido h3 {
    color: #D3D3D3;
    border-bottom: 2px solid #D3D3D3;
}

#f-endereco {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.legenda {
    font-size: 15px;
    color: #D3D3D3;
}

.texto {
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#f-redessociais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
}

#f-redessociais i {
    padding-left: 25px;
    padding-right: 5px;
}

#f-redessociais a {
    color: white;
}

#f-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
}

#f-contato a {
    color: white;
    padding-bottom: 15px;
}